<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<title><%= title%></title>
		<style type="text/css">
			.default-price {
				color: gray;
			}
			.change-price {
				color: red;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<table class="table table-bordered">
				<thead>
					<tr>
						<% if (head) { %>
						<% var total = [] %>
						<% var paidDown = [] %>
						<% var paid = [] %>
							<% for (var i = 0; i < head.length; i++) { %>
								<% total[i] = 0 %>
								<% paidDown[i] = 0 %>
								<% paid[i] = 0 %>
								<th><%= head[i]%></th>		
							<% } %>
						<% } %>						
					</tr>
				</thead>
				<tbody>
						<% if (body) { %>
							<% var count = 0; %>
							<% for (var j in body) { %>
								<tr>
									<td rowspan="2"><%= ++count %></td>
									<td rowspan="2"><%= body[j].basic.title_sc%></td>
									<% for (var h = 0 ; h < head.length; h++) { %>
										<% var flag = 0 %>
										<% if (head[h] == "编号" || head[h] == "书名" || head[h] == "说明") continue;%>
										<% if (body[j].detail) { %> 
											<% var detail = body[j].detail%>
											<% for (var d = 0; d < detail.length; d++) { %>
												<% if (detail[d].timestamp == head[h]) { %>
 													<% var diff = utility(detail, head[h]) %>
 													<% total[h] += parseInt(detail[d].DownLoad)%>
													<td><%= detail[d].DownLoad %>
														<% if (diff && diff.download) { %>
															(+<%= diff.download %>)
														<% } %>
													</td>
													<% flag = 1 %>
												<% } %>
											<% } %>
										<% } %>
										<% if (flag == 0) { %>
											<td></td>
										<% } %>
									<% } %>
								</tr>
								<tr>
								<% for (var h = 0 ; h < head.length; h++) { %>
									<% var flag = 0 %>
									<% if (head[h] == "编号" || head[h] == "书名" || head[h] == "说明") continue;%>
									<% if (body[j].detail) { %> 
										<% var detail = body[j].detail%>
										<% for (var d = 0; d < detail.length; d++) { %>
											<% if (detail[d].timestamp == head[h]) { %>
												<% var diff = utility(detail, head[h]) %>
												<% if (diff.price) { %>
													<td class="default-price">	
												<% } else { %>
													<td class="change-price">	
												<% } %>
													<%= detail[d].RmbPrice %>
													<% if (parseInt(detail[d].RmbPrice) != 0 && diff.download) { %>
														<% paidDown[h] += parseInt(diff.download) %>
														<% paid[h] += parseInt(diff.download) * parseInt(detail[d].RmbPrice) %>
													<% } %>
												</td>
												<% flag = 1 %>
											<% } %>
										<% } %>
									<% } %>
									<% if (flag == 0) { %>
										<td></td>
									<% } %>
								<% }%>
								</tr>
							<% } %>
						<% } %>
				</tbody>
				<tfoot>
					<tr class="total">
						<% for (var m = 0; m < head.length; m++) { %>
							<% var d = total[m] - total[m + 1] %>
							<% if (m == 1) { %>
								<th>下载量总计</th>	
							<% } else if (!isNaN(d) && d > 0) { %>
								<th><%= total[m]%>(+<%= d %>)</th>	
							<% } else { %>
								<th><%= total[m]%></th>	
							<% } %>
						<% } %>
					</tr>
					<tr class="paidDown">
						<% for (var n = 0; n < head.length; n++) { %>
							<% var d = paidDown[n] - paidDown[n + 1] %>
							<% if (n == 1) { %>
								<th>付费下载量总计</th>	
							<% } else if (!isNaN(d) && d > 0) { %>
								<th><%= paidDown[n]%>(+<%= d %>)</th>	
							<% } else { %>
								<th><%= paidDown[n]%></th>	
							<% } %>
							
						<% } %>
					</tr>
					<tr class="paid">
						<% for (var n = 0; n < head.length; n++) { %>
							<% var d = paid[n] - paid[n + 1] %>
							<% if (n == 1) { %>
								<th>付费收入总计</th>	
							<% } else if (!isNaN(d) && d > 0) { %>
								<th><%= paid[n]%>(+<%= d %>)</th>	
							<% } else { %>
								<th><%= paid[n]%></th>	
							<% } %>
							
						<% } %>
					</tr>
				</tfoot>
			</table>
		</div>
	</body>
</html>
<script type="text/javascript">
	$('.total, .paidDown, .paid').clone().prependTo($('.table tbody'));
</script>